/* VARIABLES */
:root {
    --grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* GENERAL */



/* AUDIO LIST */

.audio_list_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap_large);
}


/* CARD */
.audio_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap_large);

    border-radius: 10px;
    padding: var(--padding_large);
    margin-bottom: var(--margin_medium);

    background-color: var(--background-color-dark_mode);
    color: var(--paragraph-color-dark_mode);

    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
}

.card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--margin_medium);
}

.card_header h3 {
    margin: 0;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
    text-transform: uppercase;
}

.favorite {
    background-color: var(--button-color-dark_mode);
    color: var(--button-text-color-dark_mode);
    border-radius: 16px;
    padding: var(--padding_xsmall) var(--padding_large);
    font-weight: 500;
    transition: var(--transition);
}

.favorite:hover {
    background-color: var(--primary-color-dark_mode);
}

.card_img {
    width: 30%;
}

.card_info {
    width: 70%;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap_small);
    margin-top: var(--margin_small);
}



/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .audio_list_container {
        grid-template-columns: repeat(2, 1fr);
    }
}