/* body {
    background-color: var(--bg_color_light);
} */

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--padding_xsmall) var(--padding_medium) var(--padding_xsmall) var(--padding_medium);
    border-radius: 8px;
    font-size: clamp(var(--min-text-font-size), var(--preferred-text-font-size), var(--max-text-font-size));
    box-shadow: var(--box-shadow);
}

button:hover {
    background-color: var(--secondary_color_dark);
}

.main {
    height: 100vh;
    padding: var(--padding_small) 0 var(--padding_large) 0;
}


/* SEARCH BOX */
.search-box {
    margin: 40px auto 0;
}

.input-box {
    background: var(--primary-color);
    border: 0;
    outline: 0;
    color: #333;
    height: 25px;
    font-size: 16px;
    margin: 0;
    padding: 1.25em var(--padding_medium);
}

.input-box:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--button-color-dark_mode);
}

.search-button {
    background: none;
    color: black;
    outline: 0;
    border: 0;
}

::placeholder {
    color: #9c9c9c;
    font-size: 16px;
}

.result-box ul li {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}

.result-box {
    background: var(--primary-color);
    color: var(--paragraph-color);
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
}

/*SEARCH END*/
.category_list {
    padding-bottom: 4em;
}

.category_list_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--gap_medium);
    margin-bottom: var(--margin_medium);
}

.category_list_grid a {
    border-radius: 10px;
    padding: var(--padding_medium);
    background-color: var(--card-background-color);
    box-shadow: var(--box-shadow);
    font-size: var(--preferred-font-size);
    margin-bottom: var(--margin_medium);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--gap_medium);
    transition: all 0.3s ease;
}

h4 {
    margin-top: var(--margin_medium);
    padding: var(--padding_small);
    align-self: flex-end;
    font-size: clamp(var(--min-heading-font-size), var(--preferred-heading-font-size), var(--max-heading-font-size));
    text-transform: capitalize;
    color: var(--button-text-color);
    transition: all 0.3s ease;
}

.category_list_grid a:hover {
    background-color: var(--button-color);
}

.category_list_grid a:hover h4 {
    color: var(--primary-color);
}


/* Dark mode styles */

body.dark-mode h2,
body.dark-mode a {
    color: var(--button-text-color);
}

body.dark-mode .card {
    background-color: var(--primary-color-dark_mode);
    color: var(--paragraph-color-dark_mode);
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .card:hover {
        background-color: var(--background-color-dark_mode);
        cursor: pointer;
    }

    .input-box {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 20px;
    }

    .result-box ul li {
        font-size: 20px;
    }

    .category_list {
        padding-bottom: 0;
    }
}